body{
    background-color: #FFF2F2;
    
}
@media(max-width:400px){
    .hero-img img {width: 100%;}
   

}

.navbar{
    background-color:#2D336B; 
  
}
.navbar a{
    color: white;
}
.navbar-brand {
    font-size: 1.6rem;
    font-weight: bold;
    color: #007bff;
}
.navbar-nav .nav-item a {
    font-size: 1.1rem;
    font-weight: 500;
}
.search-box {
    width: 300px;
}
.icon-link {
    font-size: 1.4rem;
    margin-left: 15px;
   color: orange;
    cursor: pointer;
    text-decoration: none;
}
.icon-link:hover {
    color: #007bff;
}
.navbar a:hover{
    color:orange;
}
.navbar a:active{
    color:orange
}

.card-body{
    background-color: #A9B5DF;
    border: 2px solid black;
}
.card img{
    border: 2px solid black;
}

.hide{
    text-align: center;
    text-decoration:none;
    color: black;
}   

.seller{
    background-color: #7886C7;
}

  /* Fullscreen Loader */
  #loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

/* Spinner Animation */
.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #ccc;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}




/*--------------------- footer ---------------------------*/

.single-logo-item img {
    max-width: 180px;
    margin: 0 auto;
  }
  
  .logo-carousel-section {
    background-color: #f5f5f5;
    padding: 50px 0;
  }
  
  .footer-area {
    background-color: #051922;
    color: #fff;
    padding: 30px 0 30px 0;
  }
  
  h2.widget-title {
    font-size: 24px;
    font-weight: 500;
    position: relative;
    padding-bottom: 20px;
    color: #fff;
  }
  
  h2.widget-title:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20px;
    height: 2px;
    background-color: #F28123;
    content: "";
  }
  
  .footer-box p {
    color: #fff;
    opacity: 0.7;
    line-height: 1.8;
  }
  
  .footer-box ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .footer-box ul li {
    opacity: 0.7;
    margin-bottom: 10px;
    line-height: 1.8;
  }
  
  .footer-box ul li:last-child {
    margin-bottom: 0;
  }
  
  .footer-box.subscribe form input[type=email] {
    border: none;
    background-color: #012738;
    width: 78%;
    padding: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #fff;
  }
  
  .footer-box.subscribe form button {
    width: 20%;
    border: none;
    background-color: #012738;
    color: #F28123;
    padding: 14px 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
  }
  
  .footer-box.subscribe form button:focus {
    outline: none;
  }
  
  
  .footer-box ul li a {
    color: #fff;
  }
  
  .footer-box.pages ul li {
    position: relative;
    padding-left: 20px;
  }
  
  .footer-box.pages ul li:before {
    position: absolute;
    left: 0;
    top: 0;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #F28123;
  }
  

   img{
    object-fit: contain;
    height: 250px;
    width: 100%;

  }

  i .fa-solid .fa-magnifying-glass{
    height: 100px;
    padding: 100px;
  }