
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 50px;
    width: 100%;
    background-color: #123458;
    
    display: flex;
    justify-content: space-between;
}
.logo{
    margin-bottom: 20px;
    color: white;
    align-self: center;
    margin-top: 15px;
    margin-left: 10px;
}
.login{
    margin-top: 15px;
    margin-right: 15px;
}
.login i{
    font-size: 30px;
    color: #EEF1DA;
    
}

/* Navigation bar */


        body {
            font-family: Arial, sans-serif;
        }
        .navbar {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: black;
            padding: 15px 0 15px 0;
            
        }
       
        .navbar ul {
            list-style: none;
            display: flex;
        }
        .navbar ul li {
            position: relative;
            margin: 0 15px;
        }
        .navbar ul li a {
            color: white;
            text-decoration: none;
            font-size: 18px;
        }
        .navbar ul li a:hover {
            color: #f4a261;
        }
        .dropdown {
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #444;
            display: none;
            flex-direction: column;
            min-width: 150px;
        }
        .dropdown a {
            padding: 10px;
            display: block;
            color: white;
        }
        .dropdown a:hover {
            background-color: #555;
        }
        .navbar ul li:hover .dropdown {
            display: flex;
        }
        @media (max-width: 600px) {
            .navbar {
                flex-direction: column;
                align-items: flex-start;
            }
            .navbar ul {
                flex-direction: column;
                width: 100%;
                padding-top: 10px;
            }
            .navbar ul li {
                margin: 10px 0;
            }
        }

   

   
